/* Main */

.kasa-banner {
    background: url("../images/home-banner-image.png");
    background-size: cover;
    border-radius: 25px;
    height: 220px;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kasa-banner-shadow {
    width: 100%;
    height: 220px;
    /*background: black;*/
    /*opacity: 0.3;*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
    border-radius: 25px;
    position: absolute;
}

.kasa-banner h1 {
    font-size: 48px;
    z-index: 1;
    font-weight: normal;
}

.kasa-housing {
    width: calc(100% - 100px);
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    gap: 50px;
}

.kasa-lodging {
    width: calc((100% - 100px) / 3);
    height: 300px;
    background: url("../images/fiche-logement-mobile.png");
    background-size: cover;
    border-radius: 10px;
    text-decoration: none;
}

.kasa-lodging:hover {
    transform: scale(1.06);
}

.kasa-lodging:hover .kasa-lodging-details {
    background: rgba(0, 0, 0, 0.40);
}

.kasa-lodging-details {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /*background: rgba(0, 0, 0, 0.40);*/
    display: flex;
    align-items: flex-end;
    color: white;
}

.kasa-lodging p {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {

    .kasa-banner h1 {
        margin-left: 0.67em;
    }

    .kasa-lodging {
        width: calc((100% - 100px) / 2);
    }

}

@media screen and  (max-width: 768px) {

    .kasa-banner h1 {
        margin-left: 0.67em;
        font-size: 30px;
    }

    .kasa-housing {
        width: 100%;
        background: none;
        padding: 0;
    }

    .kasa-lodging {
        width: 100%;
    }

}